/* body {
  background-color: tomato;
  color: white;
} */
a {
  color: white;
  text-decoration: none;
}
a:nth-child(2) {
  color: red;
}
.time-text{
    color:gray;
}
#product-name{
    font-weight: 500;
    font-size: 1.6em;
}
#product-name:hover{
  color:aqua
}
#flower{
  font-size: larger;
  color: green;
}

.separation{
  background-color: gray;
}
.units-title{
  display: inline-block;
}
 .newpara {
  display: none;
  background-color: yellow;
  padding: 20px;
}

.diva:hover .newpara {
  display: block;
}